In [1]:
import numpy as np
import pandas as pd
import calendar as cld
import itertools as it
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1008,tt1482459,70000000,348840316,The Lorax,Zac Efron|Danny DeVito|Taylor Swift|Ed Helms|R...,Chris Renaud|Kyle Balda,Meet The Original Force Of Nature,A 12-year-old boy searches for the one thing t...,86,Animation|Family,Universal Pictures|Illumination Entertainment,3/1/2012,6.3,2012
99,tt2515034,40000000,10664749,The Gunman,Sean Penn|Jasmine Trinca|Javier Bardem|Ray Win...,Pierre Morel,Armed With the Truth.,Eight years after fleeing the Congo following ...,115,Action|Drama|Crime,StudioCanal|Silver Pictures|TF1 Films Producti...,2/16/2015,5.6,2015
68,tt2726560,34000000,63013281,The Longest Ride,Scott Eastwood|Britt Robertson|Lolita Davidovi...,"George Tillman, Jr.",Two couples. Two love stories. One epic tale.,The lives of a young couple intertwine with a ...,128,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment,4/9/2015,7.3,2015
1485,tt0443543,40000000,86915017,The Illusionist,Edward Norton|Jessica Biel|Paul Giamatti|Rufus...,Neil Burger,Nothing Is What It Seems.,"With his eye on a lovely aristocrat, a gifted ...",110,Fantasy|Drama|Thriller|Romance,Michael London Productions|Stillking Films|Bob...,8/18/2006,7.0,2006
756,tt1222817,80000000,169852759,Zookeeper,Kevin James|Rosario Dawson|Sylvester Stallone|...,Frank Coraci,Welcome to his jungle.,A comedy about a zookeeper who might be great ...,102,Comedy|Romance|Family,Columbia Pictures|Happy Madison Productions|So...,7/6/2011,5.4,2011

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# прибыль
data['profit'] = data['revenue'] - data['budget']

# месяц выхода
data['release_month'] = pd.DatetimeIndex(data['release_date']).month

# проверка
data.head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,6
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354,5
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201,3

In [5]:
# функция для форматирования ответов
def nice(var):
    return(var['original_title'] + ' (' + var['imdb_id'] + ')')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# тут пишем ваш код для решения данного вопроса:
answer = nice(data.iloc[data['budget'].argmax()])
print(answer)
answers['1'] = answer

Pirates of the Caribbean: On Stranger Tides (tt1298650)

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
answer = nice(data.iloc[data['runtime'].argmax()])
print(answer)
answers['2'] = answer

Gods and Generals (tt0279111)

# 3. Какой из фильмов самый короткий (в минутах)?

In [8]:
answer = nice(data.iloc[data['runtime'].argmin()])
print(answer)
answers['3'] = answer

Winnie the Pooh (tt1449283)

# 4. Какова средняя длительность фильмов?

In [9]:
answer = data['runtime'].mean()
print(answer)
answers['4'] = answer

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [10]:
answer = data['runtime'].median()
print(answer)
answers['5'] = answer

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [11]:
answer = nice(data.iloc[data['profit'].argmax()])
print(answer)
answers['6'] = answer

Avatar (tt0499549)

# 7. Какой фильм самый убыточный?

In [12]:
answer = nice(data.iloc[data['profit'].argmin()])
print(answer)
answers['7'] = answer

The Lone Ranger (tt1210819)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [13]:
answer = len(data[data.profit > 0])
print(answer)
answers['8'] = answer

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [14]:
fdata = data[data.release_year == 2008]
answer = nice(fdata.iloc[fdata['revenue'].argmax()])
print(answer)
answers['9'] = answer

The Dark Knight (tt0468569)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [15]:
fdata = data[(data.release_year > 2011) & (data.release_year < 2015)]
answer = nice(fdata.iloc[fdata['profit'].argmin()])
print(answer)
answers['10'] = answer

The Lone Ranger (tt1210819)

# 11. Какого жанра фильмов больше всего?

In [16]:
c = Counter()
for string in data['genres']:
    for genre in string.split('|'):
        c[genre] += 1

answer = c.most_common(1)[0][0]
print(answer)
answers['11'] = answer

Drama

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [17]:
# В процентном или количественном соотношении?
# В количественном:

c = Counter()
fdata = data[data.profit > 0]
for string in fdata['genres']:
    for genre in string.split('|'):
        c[genre] += 1

answer = c.most_common(1)[0][0]
print(answer)
answers['12'] = answer

Drama

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [18]:
c = Counter()
for index, row in data.iterrows():
    for director in row['director'].split('|'):
        c[director] += row['revenue']

answer = c.most_common(1)[0][0]
print(answer)
answers['13'] = answer

Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [19]:
c = Counter()
for index, row in data.iterrows():
    for director in row['director'].split('|'):
        if 'Action' in row['genres'].split('|'):
            c[director] += 1

answer = c.most_common(1)[0][0]
print(answer)
answers['14'] = answer

Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [20]:
c = Counter()
fdata = data[data.release_year == 2012]
for index, row in fdata.iterrows():
    for actor in row['cast'].split('|'):
        c[actor] += row['revenue']

answer = c.most_common(1)[0][0]
print(answer)
answers['15'] = answer

Chris Hemsworth

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [21]:
c = Counter()
fdata = data[data.budget > data.budget.mean()]
for index, row in fdata.iterrows():
    for actor in row['cast'].split('|'):
        c[actor] += 1

answer = c.most_common(1)[0][0]
print(answer)
answers['16'] = answer

Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [22]:
c = Counter()
for index, row in data.iterrows():
    for genre in row['genres'].split('|'):
        if 'Nicolas Cage' in row['cast'].split('|'):
            c[genre] += 1

answer = c.most_common(1)[0][0]
print(answer)
answers['17'] = answer

Action

# 18. Самый убыточный фильм от Paramount Pictures

In [23]:
fdata = data[data['production_companies'].str.contains('Paramount Pictures')]
answer = nice(fdata.iloc[fdata['profit'].argmin()])
print(answer)
answers['18'] = answer

K-19: The Widowmaker (tt0267626)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [24]:
groups = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
answer = list(groups.keys())[0]
print(answer)
answers['19'] = answer

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [25]:
fdata = data[data['production_companies'].str.contains('Warner Bros')]
groups = fdata.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
answer = list(groups.keys())[0]
print(answer)
answers['20'] = answer

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [26]:
groups = data.groupby(['release_month']).size().sort_values(ascending=False)
answer = cld.month_name[next(iter(groups.keys()))]
print(answer)
answers['21'] = answer

September

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [27]:
groups = data.groupby(['release_month']).size()
answer = groups[6] + groups[7] + groups[8]
print(answer)
answers['22'] = answer

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [28]:
c = Counter()
for index, row in data.iterrows():
    for director in row['director'].split('|'):
        if row['release_month'] in [1, 2, 12]:
            c[director] += 1

answer = c.most_common(1)[0][0]
print(answer)
answers['23'] = answer

Peter Jackson

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [29]:
# У какой студии больше всего букв в названиях фильмов суммарно? Или у какой студии самое длинное название фильма? Или больше всего фильмов с длиной названия выше среднего?
# Больше всего фильмов с длиной названия выше среднего:
mean_length = data['original_title'].str.len().mean()
c = Counter()
for index, row in data.iterrows():
    for company in row['production_companies'].split('|'):
        c[company] += int(len(row['original_title']) > mean_length)

answer = c.most_common(1)[0][0]
print(answer)
answers['24'] = answer
# Оказалось неверно

Universal Pictures

In [30]:
# разбиваем компании на массив
data['production_companies'] = data['production_companies'].str.split('|')

In [31]:
# Вариант 2
data['original_title_length'] = data['original_title'].str.len()

data_e = data.explode('production_companies')

data_g = data_e.groupby(['production_companies'])['original_title_length'].mean().sort_values(ascending=False)

answer = list(data_g.keys())[0]
print(answer)
answers['24'] = answer

Four By Two Productions

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [32]:
data['overview_words'] = data['overview'].str.count(' ') + 1

data_e = data.explode('production_companies')

data_g = data_e.groupby(['production_companies'])['overview_words'].mean().sort_values(ascending=False)

answer = list(data_g.keys())[0]
print(answer)
answers['25'] = answer

Midnight Picture Show

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [33]:
# что значит no vote_average? по каким критериям ещё оценивать лучшие фильмы? 1% лучших это ведь 1% лучших от общего числа фильмов?

d = data.sort_values(['vote_average'], ascending=False)

answer = d.head(int(len(data.index)/100))['original_title'].values
print(answer)
answers['26'] = answer

['The Dark Knight' 'Interstellar' 'The Imitation Game' 'Inside Out' 'Room'
 'The Wolf of Wall Street' 'Gone Girl' '12 Years a Slave'
 'Guardians of the Galaxy' 'The Lord of the Rings: The Return of the King'
 'Memento' 'Inception' 'The Pianist' 'The Grand Budapest Hotel' 'Her'
 'Spotlight' 'Big Hero 6' 'The Fault in Our Stars']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [34]:
data['cast'] = data['cast'].str.split('|')

c = Counter()

for row in data['cast']:
    row.sort()
    for combo in it.combinations(row, 2):
        c[combo] += 1

answer = c.most_common(3)
print(answer)
answers['27'] = answer

[(('Daniel Radcliffe', 'Emma Watson'), 8), (('Daniel Radcliffe', 'Rupert Grint'), 8), (('Emma Watson', 'Rupert Grint'), 8)]

# Submission

In [35]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'September',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': array(['The Dark Knight', 'Interstellar', 'The Imitation Game',
        'Inside Out', 'Room', 'The Wolf of Wall Street', 'Gone Girl',
        '12 Years a Slave', 'Guardians of the Galaxy',
        'The Lord of the Rings: The Return of the King', 'Memento',
        'Inception', 'The Pianist', 'The Grand Budapest Hotel', 'Her',
        'Spotlight', 'Big Hero 6', 'The Fault in Our Stars'], dtype=object),
 '27': [(('Daniel Radcliffe', 'Emma Watson'), 8),
  (('Daniel Radcliffe', 'Rupert Grint'), 8),
  (('Emma Watson', 'Rupert Grint'), 8)]}

In [36]:
# и убедиться что ни чего не пропустил)
len(answers)

27