In [235]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import calendar as cld
from collections import Counter

In [94]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
668,tt0811080,120000000,93945766,Speed Racer,Emile Hirsch|Christina Ricci|Matthew Fox|Susan...,Lana Wachowski|Lilly Wachowski,Go!,Speed Racer is the tale of a young and brillia...,135,Family|Action|Science Fiction,Village Roadshow Pictures|Studio Babelsberg|An...,5/9/2008,5.6,2008
1773,tt0466839,24000000,9576495,I Could Never Be Your Woman,Michelle Pfeiffer|Paul Rudd|Saoirse Ronan|Stac...,Amy Heckerling,Find Yourself. In Love.,This movie follows a mother who falls for a yo...,97,Comedy|Drama|Romance,Scott Rudin Productions|I Could Never Ltd.|Bau...,5/11/2007,5.3,2007
469,tt1273678,28000000,45236543,The Spy Next Door,Amber Valletta|Lucas Till|Jackie Chan|Billy Ra...,Brian Levant,"Spying is easy, Babysitting is hard",Former CIA spy Bob Ho takes on his toughest as...,94,Action|Comedy|Family,Robert Simonds Productions|Relativity Media|Sp...,1/15/2010,5.4,2010
1291,tt1171222,8500000,22456509,Baggage Claim,Paula Patton|Adam Brody|Djimon Hounsou|Taye Di...,David E. Talbert,She's done flying solo.,Pledging to keep herself from being the oldest...,96,Comedy,Sneak Preview Productions,9/27/2013,5.8,2013
1643,tt0364045,45000000,65470529,Taking Lives,Angelina Jolie|Ethan Hawke|Kiefer Sutherland|G...,D.J. Caruso,He would kill to be you.,Recruited to assist Montreal police in their d...,103,Action|Drama|Mystery|Thriller,Village Roadshow Pictures|Atmosphere Entertain...,3/19/2004,6.0,2004

In [58]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# Предобработка

In [377]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# прибыль
data['profit'] = data['revenue'] - data['budget']

# месяц выхода
data['release_month'] = pd.DatetimeIndex(data['release_date']).month

# проверка
data.head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,overview_words
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,6,26
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354,5,110
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201,3,22

In [104]:
# функция для форматирования ответов
def nice(var):
    return(var['original_title'] + ' (' + var['imdb_id'] + ')')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [105]:
# тут пишем ваш код для решения данного вопроса:
answer = nice(data.iloc[data['budget'].argmax()])
print(answer)
answers['1'] = answer

Pirates of the Caribbean: On Stranger Tides (tt1298650)

# 2. Какой из фильмов самый длительный (в минутах)?

In [106]:
answer = nice(data.iloc[data['runtime'].argmax()])
print(answer)
answers['2'] = answer

Gods and Generals (tt0279111)

# 3. Какой из фильмов самый короткий (в минутах)?

In [107]:
answer = nice(data.iloc[data['runtime'].argmin()])
print(answer)
answers['3'] = answer

Winnie the Pooh (tt1449283)

# 4. Какова средняя длительность фильмов?

In [108]:
answer = data['runtime'].mean()
print(answer)
answers['4'] = answer

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [109]:
answer = data['runtime'].median()
print(answer)
answers['5'] = answer

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [110]:
answer = nice(data.iloc[data['profit'].argmax()])
print(answer)
answers['6'] = answer

Avatar (tt0499549)

# 7. Какой фильм самый убыточный?

In [111]:
answer = nice(data.iloc[data['profit'].argmin()])
print(answer)
answers['7'] = answer

The Lone Ranger (tt1210819)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [115]:
answer = len(data[data.profit > 0])
print(answer)
answers['8'] = answer

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [120]:
fdata = data[data.release_year == 2008]
answer = nice(fdata.iloc[fdata['revenue'].argmax()])
print(answer)
answers['9'] = answer

The Dark Knight (tt0468569)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [122]:
fdata = data[(data.release_year > 2011) & (data.release_year < 2015)]
answer = nice(fdata.iloc[fdata['profit'].argmin()])
print(answer)
answers['10'] = answer

The Lone Ranger (tt1210819)

# 11. Какого жанра фильмов больше всего?

In [174]:
c = Counter()
for string in data['genres']:
    for genre in string.split('|'):
        c[genre] += 1

answer = c.most_common(1)[0][0]
print(answer)
answers['11'] = answer

Drama

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [187]:
# В процентном или количественном соотношении?
# В количественном:

c = Counter()
fdata = data[data.profit > 0]
for string in fdata['genres']:
    for genre in string.split('|'):
        c[genre] += 1

answer = c.most_common(1)[0][0]
print(answer)
answers['12'] = answer

Drama

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [189]:
c = Counter()
for index, row in data.iterrows():
    for director in row['director'].split('|'):
        c[director] += row['revenue']

answer = c.most_common(1)[0][0]
print(answer)
answers['13'] = answer

Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [190]:
c = Counter()
for index, row in data.iterrows():
    for director in row['director'].split('|'):
        if 'Action' in row['genres'].split('|'):
            c[director] += 1

answer = c.most_common(1)[0][0]
print(answer)
answers['14'] = answer

Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [191]:
c = Counter()
fdata = data[data.release_year == 2012]
for index, row in fdata.iterrows():
    for actor in row['cast'].split('|'):
        c[actor] += row['revenue']

answer = c.most_common(1)[0][0]
print(answer)
answers['15'] = answer

Chris Hemsworth

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [192]:
c = Counter()
fdata = data[data.budget > data.budget.mean()]
for index, row in fdata.iterrows():
    for actor in row['cast'].split('|'):
        c[actor] += 1

answer = c.most_common(1)[0][0]
print(answer)
answers['16'] = answer

Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [193]:
c = Counter()
for index, row in data.iterrows():
    for genre in row['genres'].split('|'):
        if 'Nicolas Cage' in row['cast'].split('|'):
            c[genre] += 1

answer = c.most_common(1)[0][0]
print(answer)
answers['17'] = answer

Action

# 18. Самый убыточный фильм от Paramount Pictures

In [198]:
fdata = data[data['production_companies'].str.contains('Paramount Pictures')]
answer = nice(fdata.iloc[fdata['profit'].argmin()])
print(answer)
answers['18'] = answer

K-19: The Widowmaker (tt0267626)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [270]:
groups = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
answer = list(groups.keys())[0]
print(answer)
answers['19'] = answer

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [272]:
fdata = data[data['production_companies'].str.contains('Warner Bros')]
groups = fdata.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
answer = list(groups.keys())[0]
print(answer)
answers['20'] = answer

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [330]:
groups = data.groupby(['release_month']).size().sort_values(ascending=False)
answer = cld.month_name[next(iter(groups.keys()))]
print(answer)
answers['21'] = answer

September

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [329]:
groups = data.groupby(['release_month']).size()
answer = groups[6] + groups[7] + groups[8]
print(answer)
answers['22'] = answer

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [332]:
c = Counter()
for index, row in data.iterrows():
    for director in row['director'].split('|'):
        if row['release_month'] in [1, 2, 12]:
            c[director] += 1

answer = c.most_common(1)[0][0]
print(answer)
answers['23'] = answer

Peter Jackson

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [358]:
# У какой студии больше всего букв в названиях фильмов суммарно? Или у какой студии самое длинное название фильма? Или больше всего фильмов с длиной названия выше среднего?
# Больше всего фильмов с длиной названия выше среднего:
mean_length = data['original_title'].str.len().mean()
c = Counter()
for index, row in data.iterrows():
    for company in row['production_companies'].split('|'):
        c[company] += int(len(row['original_title']) > mean_length)

answer = c.most_common(1)[0][0]
print(answer)
answers['24'] = answer

Universal Pictures

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [0]:
import time
t_begin = time.time()
data = pd.read_csv('movie_bd_v5.csv')
df = pd.DataFrame(columns=data.columns)
for index in data.index:
    overview_len = len(data.loc[index]['overview'].split(' '))
    for name in data.loc[index]['production_companies'].split('|'):
        df = pd.concat([df, pd.DataFrame(data.loc[index]).T], ignore_index=True)
        df.iat[df.shape[0]-1, 10] = name # ячейка в столбце production_companies
        df.iat[df.shape[0]-1, 7] = overview_len  # ячейка в столбце overview
df = df.convert_dtypes()
display(df.groupby(['production_companies'])['overview'].mean().sort_values(ascending=False))
print('Время работы: ', time.time()-t_begin, 'с')

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

# Submission

In [343]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'21': 'September', '22': 450, '23': 'Peter Jackson', '24': 'Warner Bros.'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)